*.aux
*.bak
*.log
*-eps-converted-to.pdf
monografia.aux
monografia.bbl
monografia.bib
monografia.blg
monografia.glo
monografia.idx
monografia.lof
monografia.lot
monografia.pdf
monografia.toc
monografia.xdy
monografia.synctex.gz
monografia.ilg
monografia.glsdefs
monografia.ind
monografia.ist
